.alert-wrapper
	if alerts
		for alert in alerts
			if alert.isError
				div(class="alert alert-warning alert-dismissible" role="alert")
					button.close(type="button" data-dismiss="alert" aria-label="Close") &times;
					strong #{alert.alert}
			if alert.isSuccess
				div(class="alert alert-success alert-dismissible" role="alert")
					button.close(type="button" data-dismiss="alert" aria-label="Close") &times;
					strong #{alert.alert}